*{ padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
}

table{
    border: 1px solid rgb(252, 252, 252);
    border-spacing: 0px;
}

table td{
    border: 1px solid rgb(252, 252, 252);
    padding: 10px;
}

section#tres img{
    padding-left: 480px;
    max-width:250px;
    max-height:250px; 
    padding-top: 20px; 
}

section#quatro img{
    max-width:250px;
    max-height:250px; 
    padding-top: 20px; 
    padding-left: 120px;
}

body{
     margin: 12px;
     padding: 1px;
     background-color: rgb(150, 240, 173);

}

body h1,h2,h3{
    padding: 10px;
    color: rgb(4, 87, 30);
}

div#artigos{
    font-size: x-large;
    color: rgb(8, 99, 36);
    font-family: sans-serif;
}

div#dados h2#titulotabela{
    font-size: x-large;
    color: rgb(8, 99, 36);
    font-family: sans-serif;
    padding-left: 440px;
    
}

div#dados section#tabeladados{
    font-size: large;
    color: rgb(8, 99, 36);
    font-family: sans-serif;
    padding-left: 480px;
}

div#rodape{
    padding: 15px;
}